.main-heading {
	color: darkgray;
	background-color: aliceblue;
	text-align: center;
}

.letter-input {
	background-color: white;
	color: darkgray;
	padding: 100px, 20px;
	float: left;
	margin: 0;
}

.letters {
	width: 60%;
}

.button2 {
	width: 40%;
	margin: 0px;
}

#hangman {
	padding: 50px;
	letter-spacing: 7px;
	background-color: aliceblue;
	text-align: center;
}

#playgame {
	background-color: honeydew;
	color: darkgray;
	border-color: darkgray;
}

#submit-button {
	background-color: lightgray;
	color: darkgray;
	float: left;
}

/* move jumbotron to full row
drop hangman box to middle of 2nd row
move submit button to match row level of letter box
build score tracker*/