.main-heading {
	color: #a80057;
	background-color: white;
	text-align: center;
}

.letter-input {
	background-color: white;
	color: darkgreen;
	padding: 200px, 20px;
	float: left;
	margin: 0;
	height: 250px;
}

.letters {
	width: 60%;
}

.button2 {
	width: 40%;
	margin: 0px;
}

.veggies {
	width: 50%;
}

#hangman {
	padding: 50px;
	letter-spacing: 7px;
	background-color: white;
	text-align: center;
	height: 250px;
	font-size: 18px;
	font-weight: bolder;
	color: darkgreen;
}

#playgame {
	background-color: lemonchiffon;
	color: #a80057;
	border-color: #a80057;
}

#submit-button {
	background-color: #c3e548;
	color: darkgreen;
	border-color: darkgreen;
	float: left;
}

#guess {
	border-color: darkgreen;
}

#score-tracker {
	background-color: white;
	color: darkgreen;
	height: 250px;

}

.panel-default {
	border-color: darkgreen;
}

#score-heading {
	background-color: #c3e548;
	border-color: darkgreen;
}

#score-title {
	color: darkgreen;
	background-color: #c3e548;
	border-color: darkgreen;
}

#score-panel {
	border-color: darkgreen;
}
